
/* Changed hed style for touch display */
.masthead-touch {
    padding-top: 0rem;
    padding-bottom: 2rem;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.35em;
    font-size: 0.5em;
    font-weight: 200;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5rem;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-success {
    color: #fff;
    background-color: #28a745;;
}

.btn-group > .btn {
    position: relative;
    flex: 1 1;
}

.btn-primary {
   border-color: #2c3e50;
}