{% extends "common/page_base.html" %}

{% block content %}


    <div class="card" style="width: 100%;">
      <div class="card-body" style="min-height: 30vh;">

        <div id="splash">
            <div class="row">
               <div class="col">
                    <div class="row">
                      <div class="col">
                        <p class="text-secondary fs-5">Test carico</p>
                      </div>
                    </div>

                   <div class="row">
                  <div class="col">
                    <button id="s2_carico" type="button" class="btn btn-primary btn-lg car" >Carico Prodotto</button>
                  </div>
                  </div>

                   <div class="row">
                      <div class="col">
                        <p id="carresponse" class="text-secondary fs-2"></p>
                      </div>
                    </div>

               </div>
              <div class="col">
                  <div class="row">
                      <div class="col">
                        <p class="text-secondary fs-5">Test erogazione</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                          <button value="5" type="button" class="btn btn-primary btn-lg erog" >5Kg</button>
                      </div>
                      <div class="col">
                          <button value="7.5" type="button" class="btn btn-primary btn-lg erog">7.5Kg</button>
                      </div>
                      <div class="col">
                          <button value="15" type="button" class="btn btn-primary btn-lg erog">15Kg</button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <p id="erogresponse" class="text-secondary fs-2"></p>
                      </div>
                    </div>
              </div>

            </div>

        </div>

      </div>
    </div>

<script src="{{ url_for('static', filename='js/custom/modbus.js') }}"></script>
{% endblock %}
