{% extends "common/page_base.html" %}

{% block content %}


    <div class="card" style="width: 100%;">
      <div class="card-body" style="min-height: 30vh;">

        <div id="splash">
            <div class="row">
               <div class="col">
                    <div class="row">
                      <div class="col">
                        <p class="text-secondary fs-6">Test carico</p>
                      </div>
                    </div>

                   <div class="row">
                  <div class="col">
                    <button id="s2_carico" type="button" class="btn btn-primary btn-lg" >Carico</button>
                  </div>
                  <div class="col">
                    <button id="s2_stop_carico" type="button" class="btn btn-primary btn-lg" >Stop Carico</button>
                  </div>

                  </div>

                   <div class="row">
                      <div class="col">
                        <p id="carresponse" class="text-secondary fs-6"></p>
                      </div>
                    </div>

               </div>
              <div class="col">
                  <div class="row">
                      <div class="col">
                        <p class="text-secondary fs-6">Test erogazione</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                          <input id="peso_finale" value="15" type="text" class="form-control">
                          <span class="text-secondary small">Peso finale</span>
                      </div>
                      <div class="col">
                          <input id="soglia" value="5" type="text" class="form-control">
                          <span class="text-secondary small">Soglia</span>
                      </div>
                      <div class="col">
                          <button id="eroga" type="button" class="btn btn-primary btn-lg erog">Eroga</button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <p id="erogresponse" class="text-secondary fs-6"></p>
                      </div>
                    </div>
              </div>

            </div>

<!--            Alarms-->
            <div class="row">
                <div class="col">
                  <p class="text-secondary fs-6">Alarms</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <p id="alarms" class="text-secondary fs-6"></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="reset_alarms" type="button" class="btn btn-primary btn-lg" >Reset</button>
                </div>
            </div>

        </div>

      </div>
    </div>

<script src="{{ url_for('static', filename='js/custom/modbus.js') }}"></script>
{% endblock %}
