{% extends "common/page_base.html" %}

{% block content %}


    <div class="card" style="width: 100%;">
      <div class="card-body">

        <div class="row">
           <div class="col">
            <p class="text-secondary fs-6">Actual credit</p>
            <p id="credit" class="text-secondary fs-4">0</p>
           </div>
        </div>


        <div class="row">
           <div class="col">
            <button value="20" type="button" class="btn btn-primary btn-lg" >POLL</button>
           </div>
           <div class="col">
            <button value="21" type="button" class="btn btn-primary btn-lg" >ERROR</button>
           </div>
           <div class="col">
            <button value="25" type="button" class="btn btn-primary btn-lg" >SYSTEM STATUS</button>
           </div>

        </div>

        <div class="row">
           <div class="col">
            <button id="testChecksum" type="button" class="btn btn-primary btn-lg" >Checksum</button>
           </div>
        </div>


        <div class="row">
          <div class="col">
            <div style="height: 30vh;">
                <p id="cogesresp" class="text-secondary fs-6"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<script src="{{ url_for('static', filename='js/custom/coges_daemon.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom/testcoges.js') }}"></script>

{% endblock %}